body {
  margin: 0;
}

.header {
  background-color: gray;
  display: flex;
  align-items: center;
  width: 100%;
}

.div-icono {
  width: 50%;
  padding-left: 20px;
}

.div-menu {
  width: 50%;
}

.div-menu img {
  margin-right: 20px;
}

main {
  padding: 20px;
}

main h1 {
  font-family: 'Grechen Fuemen', cursive;
}

main img {
   width: 500px; 
}

@media only screen and (max-width: 768px) {
  main img {
    width: 100%;
  }
}